<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MBTA Map</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<!--    <link rel="stylesheet" href="./static/style.css">-->
    <style>
        body {
        background-color: #43505a;
        color: #c9cde1;
        }

        a {
        color: #219fff;
        }

        h1, h2, h3, h4 {
        font-family: "Noto Sans", sans-serif;
        font-weight: 550;
        }

        p, a, footer {
        font-family: "Noto Sans", sans-serif;
        }

        footer {
        position:absolute;
        bottom:0px;
        width:95%
        z-index:1;
        }
    </style>
    <h1 align="center">MBTA Live Status Homepage (unofficial)</h1>
</head>
<body>
<p>This is the homepage for my unofficial MBTA live tracking project, built using the MBTA's <a href="https://www.mbta.com/developers/v3-api">V3 API</a>.</p>
<h3>About</h3>
<p>This project is written in Python, using <a href="https://deck.gl/#/">
    deck.gl</a>/<a href="https://deckgl.readthedocs.io/en/latest/">pydeck</a>
    for the maps. It's hosted on <a href="https://cloud.google.com/appengine?hl=en">Google App Engine</a>, and the
    source code can be found on GitHub <a href="https://github.com/cdfisher/mbta-map">here</a>.</p>
<h3>Currently supported maps</h3>
<h4>Rapid transit: Red, Orange, Blue, and Green Lines</h4>
<ul style="list-style-type:none">
        <li><a href="{{base_url}}map/rapid">{{base_url}}map/rapid</a></p></li>
    </ul>

<h4>Commuter rail</h4>
<ul style="list-style-type:none">
        <li><a href="{{base_url}}map/commuter">{{base_url}}map/commuter</a></p></li>
    </ul>
<!--
<h4>Silver Line</h4>
<p style="color:red"><b>Not yet implemented</b></p>
<ul style="list-style-type:none">
        <li><a href="{{base_url}}map/silver">{{base_url}}map/silver</a></p></li>
    </ul>

<h4>Busses</h4>
<p style="color:red"><b>Not yet implemented</b></p>
<p>Includes Silver Line</p>
<ul style="list-style-type:none">
        <li><a href="{{base_url}}map/busses">{{base_url}}map/busses</a></p></li>
    </ul>
-->
<h4>Trains: Red, Orange, Blue, and Green Lines, plus the Commuter Rail</h4>
<ul style="list-style-type:none">
        <li><a href="{{base_url}}map/trains">{{base_url}}map/trains</a></p></li>
    </ul>
<!--
<h4>Core</h4>
<p style="color:red"><b>Not yet implemented</b></p>
<p>Includes Red, Orange, Blue, Green, and Silver Lines</p>
<ul style="list-style-type:none">
        <li><a href="{{base_url}}map/core">{{base_url}}map/core</a></p></li>
    </ul>

<h4>All</h4>
<p style="color:red"><b>Not yet implemented</b></p>
<p>Includes Red, Orange, Blue, Green, and Silver Lines, plus the Commuter Rail. All routes except busses</p>
<ul style="list-style-type:none">
        <li><a href="{{base_url}}map/core">{{base_url}}map/core</a></p></li>
    </ul>
-->
</body>
<footer>
    <p align="center"><a href="{{base_url}}">Home</a> · <a href="https://github.com/cdfisher/mbta-map">Source code on
        GitHub</a> · Built with the MBTA's <a href="https://www.mbta.com/developers/v3-api">V3 API</a></p>
</footer>
</html>