<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MBTA Map</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<!--    <link rel="stylesheet" href="./static/style.css">-->
    <style>
                body {
        background-color: #43505a;
        color: #c9cde1;
        }

        a {
        color: #219fff;
        }

        h1 {
        font-family: "Noto Sans", sans-serif;
        font-weight: 550;
        }

        p, a, footer {
        font-family: "Noto Sans", sans-serif;
        }

        footer {
        position:absolute;
        bottom:0px;
        width:95%;
        z-index:1;
        }
    </style>
    <h1 align="center">MBTA Live Train Locations</h1>
</head>
<body>
    <div style="width:80%;text-align:center;">
        {{ iframe|safe }}
    </div>
</body>
<footer>
    <p align="center"><a href="{{base_url}}">Home</a> · <a href="https://github.com/cdfisher/mbta-map">Source code on
        GitHub</a> · Built with the MBTA's <a href="https://www.mbta.com/developers/v3-api">V3 API</a></p>
</footer>
</html>